@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik+Bubbles&display=swap");

* {

  padding: 0;
  margin: 5px 0px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #eeaeca;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

p,
button {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

h1,
footer,
.text {
  font-family: "Rubik Bubbles", system-ui;
  font-weight: 400;
  font-style: normal;
}

#score {
  display: flex;
  justify-content: space-between;
}
.gameBtn {
  display: flex;
  justify-content: space-around;
  gap: 5px;
}
button {
  flex: 1;
  display: inline-block;
  outline: 0;
  border: 0;
  background-image: linear-gradient(to right, #e052a0, #f15c41);
  cursor: pointer;
  border-radius: 2px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
  font-size: 14px;
}

button:hover {
  background-image: linear-gradient(to right, #3ec7e0, #526bf4);
}
